.about {
  height: 765px;
  padding: 330px 0 90px 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(../resources/photo-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 0 0 30px 30px;
}
.about__description {
  margin-bottom: 30px;
  width: 430px;
  font-size: 20px;
  line-height: 26px;
}
.about__title {
  font-size: 80px;
  line-height: 70px;
  color: white;
  min-width: 740px;
  max-width: 920px;
  transition: all 0.3s ease;
}
@media (max-width: 1199px) {
  .about__title {
    font-size: 60px;
    line-height: 70px;
    width: 70%;
  }
}
