.burger-btn {
  display: none;
  z-index: 1100;
}
.burger {
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.burger_open {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.burger__content {
  padding: 65px 0 65px 30px;
  width: 360px;
  height: 100%;
  background: black;
  overflow-y: auto;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}
.burger_open .burger__content {
  transform: translateX(0);
}
.burger__logo {
  border-radius: 100px;
  border: 1px solid #304ffe;
  width: 220px;
}
.burger__nav {
  margin-top: 40px;
  margin-bottom: 90px;
  padding-left: 15px;
}
.burger__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.burger__nav-link {
  display: block;
  font-size: 25px;
  line-height: 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.burger__nav-link a {
  text-decoration: none;
  color: white;
}
.burger__contacts {
  padding-left: 15px;
}
.burger__contacts-title {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}
.burger__contacts-list {
  display: flex;
  flex-direction: column;
}
.burger__contact {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 36px;
}
@media (max-width: 1199px) {
  .burger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    top: 0px;
    right: 0px;
    width: 63px;
    height: 63px;
    z-index: 1100;
    background-color: black;
    border-radius: 100px;
  }
  .burger-btn div {
    width: 36px;
    height: 3px;
    top: 50%;
    left: 50%;
    background-color: #304ffe;
    border-radius: 100px;
    z-index: 1001;
    transition: all 0.3s linear;
  }
  .burger-btn_open {
    z-index: 1100;
  }
}
@media (max-width: 767px) {
}
