.contacts {
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 100px;
  height: 717px;
  max-width: 2000px;
  border-radius: 30px;
  background-color: #191c19;
  background-image: url(../resources/photo-sergey.png);
  background-repeat: no-repeat;
  background-position: 50vw;
  background-size: contain;
}
.contacts-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contacts__title {
  display: block;
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;
}
.input__form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 90%;
}
.input {
  display: block;
  padding-left: 40px;
  height: 60px;
  background: #3b3d3b;
  border: none;
  border-radius: 100px;
  font-size: 25px;
  line-height: 34px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  outline: none;
  transition: all 0.3s ease;
}
.input:hover {
  box-shadow: inset 0px 0px 0px 5px #304ffe;
}
@media (max-width: 1199px) {
  .contacts {
    padding: 50px 0 50px 0;
    height: 484px;
  }
  .contacts__title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
  }
  .input__form {
    gap: 17px;
  }
  .input {
    padding-left: 24px;
    height: 41px;
    font-size: 16px;
    line-height: 21px;
  }
}
@media (max-width: 767px) {
  .contacts {
    margin-bottom: 0;
    background-image: none;
    height: 428px;
    border-radius: 0;
  }
  .contacts-wrapper {
    width: 100%;
  }
  .contacts__title {
    font-size: 35px;
    line-height: 37px;
  }
  .input__form {
    gap: 15px;
    width: 100%;
  }
  .input {
    padding-left: 21px;
    height: 38px;
    font-size: 15px;
    line-height: 20px;
  }
}
