.contacts {
  margin-bottom: 150px;
  min-height: 717px;
  border-radius: 30px;
  background: url(../resources/programmer@2x.png), #191c19;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.contacts-wrapper {
  display: flex;
}
.contacts__title {
  margin-bottom: 28px;
  position: absolute;
  top: 320px;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.input__form {
  display: flex;
  flex-direction: column;
  width: 570px;
}
.input {
  display: block;
  padding: 10px 0 10px 0;
  background: #3b3d3b;
  border-radius: 100px;
  border-bottom: 1px solid black;
  font-size: 25px;
  line-height: 34px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  outline: none;
}
