.follow-cursor {
  display: block;
  position: fixed;
  width: 24px;
  height: 24px;
  border: 1px solid #304ffe;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #304ffe;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1100;
  pointer-events: none;
  transition: width 0.3s linear, height 0.3s linear;
}
.follow-cursor_active {
  height: 128px;
  width: 128px;
  background: #304ffe;
  opacity: 0.3;
  z-index: 1100;
}
@media (max-width: 1199px) {
  .follow-cursor {
    display: none;
  }
}
