.header {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: black;
  z-index: 1100;
}
.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%;
}
.header__logo-wrapper {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  height: 55px;
}
.header__logo {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 43px;
  line-height: 55px;
  letter-spacing: -0.11em;
  text-decoration: none;
  color: #304ffe;
}
.header__menu {
  height: 100%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 50px;
}
.header__link {
  color: white;
}
.header__link a {
  display: block;
  font-size: 18px;
  line-height: 55px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.header__link a:hover {
  color: #304ffe;
}
@media (max-width: 1199px) {
  .header {
    position: absolute;
    padding: 30px 0 0 0;
    background-color: transparent;
  }
  .header__logo-wrapper {
    background-color: black;
    width: 220px;
    border-radius: 100px;
  }
  .header__list {
    display: none;
  }
}
