.header__inner-wrapper {
  margin: 0 auto;
  width: 100%;
  position: fixed;
}
.header__inner-wrapper:hover {
  background-color: black;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  transition: all 0.3s ease;
}
.header__logo-wrapper {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 100px;
  background-color: black;
  width: 220px;
  height: 55px;
  transition: all 0.3s ease;
}
.header__logo {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 43px;
  line-height: 55px;
  letter-spacing: -0.11em;
  text-decoration: none;
  color: #304ffe;
}
.header__menu {
  height: 100%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 50px;
}
.header__link {
  color: white;
  font-size: 18px;
  line-height: 23px;
}
.header__link a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.header__link a:hover {
  color: #304ffe;
}
