@import "../styles/header.css";
@import "../styles/about.css";
@import "../styles/projects.css";
@import "../styles/skills.css";
@import "../styles/services.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";
@import "../styles/burger.css";
@import "../styles/buttons.css";
@import "../styles/cursor.css";

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: "Open Sans";
  background-color: black;
  color: white;
  font-weight: 400;
}
.body_fixed {
  overflow: hidden;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 1150px;
  position: relative;
}
.inner {
  width: 100%;
}
.title {
  margin-bottom: 80px;
  width: 60%;
  font-size: 55px;
  line-height: 72px;
}
@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 15px 0 15px;
  }
  .title {
    margin-bottom: 60px;
    width: 80%;
    font-size: 45px;
    line-height: 58px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 10px 0 10px;
  }
  .title {
    margin-bottom: 40px;
    width: 100%;
    font-size: 30px;
    line-height: 39px;
  }
}
