@import "../styles/header.css";
@import "../styles/about.css";
@import "../styles/projects.css";
@import "../styles/skills.css";
@import "../styles/services.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";
@import "../styles/burger.css";
@import "../styles/buttons.css";
@import "../styles/cursor.css";

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: "IBM Plex Mono";
  background-color: black;
  color: white;
  font-weight: 400;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 1150px;
  position: relative;
}
.inner {
  width: 100%;
}
.title {
  margin-bottom: 80px;
  max-width: 60%;
  font-size: 55px;
  line-height: 72px;
}
