.projects {
  padding-top: 150px;
}
.projects__title {
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
}
.projects__list {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}
.project {
  position: relative;
  width: 100%;
  height: 550px;
  color: white;
  transition: all 0.3s linear;
  border-radius: 30px;
  background-color: #304ffe;
}
.project:hover {
  padding: 10px;
}
.project__image {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.project__link {
  color: white;
  text-decoration: none;
  transition: all 0.3s linear;
}
.project__link:hover {
  color: #304ffe;
}
.project__name {
  position: absolute;
  left: 50px;
  bottom: 94px;
  font-size: 35px;
  line-height: 46px;
}
.project__name a {
  text-decoration: none;
  color: white;
}
.project__work {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 30px;
  line-height: 39px;
}
.project__bage {
  position: absolute;
  display: flex;
  align-items: center;
  height: 47px;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  left: 50px;
  top: 49px;
  font-family: "Manrope";
  background: #304ffe;
}
.project__bage p {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
}
