.services {
  padding: 150px 0 150px 0;
}
.services__title {
  font-size: 35px;
  line-height: 46px;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.service__image {
  border-radius: 30px;
  width: 100%;
  min-height: 200px;
}
.service__text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 283px;
  padding: 40px 40px 40px 60px;
  background: #191c19;
  border-radius: 30px;
}
.service__name {
  width: 45%;
  margin-bottom: 15px;
  font-size: 55px;
  line-height: 110%;
  color: #304ffe;
}
.service__description {
  width: 50%;
  font-size: 22px;
  line-height: 29px;
}
