.skills {
  padding: 150px 0 150px 0;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.skill {
  padding-top: 60px;
  position: relative;
  width: calc(50% - 25px);
}
.skill:nth-last-child(1) {
  margin-bottom: 0px;
}
.skill::before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #304ffe;
}
.skill:nth-child(1)::before {
  background-image: url(../resources/icon-html.svg);
}
.skill:nth-child(2)::before {
  background-image: url(../resources/icon-js.svg);
}
.skill:nth-child(3)::before {
  background-image: url(../resources/icon-framework.svg);
}
.skill:nth-child(4)::before {
  background-image: url(../resources/icon-react.svg);
}
.skill__name {
  display: block;
  font-size: 35px;
  line-height: 46px;
  color: #304ffe;
  margin-bottom: 15px;
}
.skill__description {
  font-size: 22px;
  line-height: 29px;
}
