html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  width: 100%;
  font-family: "IBM Plex Mono";
  background-color: black;
  color: white;
  font-weight: 400;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1150px;
  position: relative;
  letter-spacing: -0.03em;
}
.header {
  padding-top: 27px;
  min-height: 765px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/resources/photo-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}
.header__list {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.header__item {
  margin-right: 50px;
}
.header__item a {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.header__item a:hover {
  text-decoration: none;
  color: #304ffe;
  transition: all 0.3s ease;
}
.header__item:nth-last-child(1) {
  margin-right: 0px;
}
.header__logo {
  display: block;
  background-color: black;
  width: 170px;
  font-weight: 700;
  font-size: 43px;
  line-height: 55px;
  letter-spacing: -0.11em;
  text-align: center;
  text-decoration: none;
  color: #304ffe;
  border-radius: 100px;
}
.header__text {
  position: absolute;
  top: 334px;
  width: 430px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
}
.header__title {
  position: absolute;
  top: 466px;
  font-size: 80px;
  line-height: 70px;
  letter-spacing: -0.03em;
  color: #304ffe;
  min-width: 740px;
}
.projects {
  box-sizing: border-box;
  padding-top: 150px;
}
.projects__title {
  margin-bottom: 40px;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
}
.project {
  position: relative;
  height: 550px;
  border-radius: 30px;
  letter-spacing: -0.03em;
}
.project__name {
  position: absolute;
  left: 50px;
  bottom: 94px;
  font-size: 35px;
  line-height: 46px;
}
.project__name a {
  text-decoration: none;
  color: white;
}
.project__work {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 30px;
  line-height: 39px;
}
.project__bage {
  position: absolute;
  display: flex;
  align-items: center;
  height: 47px;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  left: 50px;
  top: 49px;
  font-family: "Manrope";
  background: #304ffe;
}
.project__bage p {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.project__first {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(/resources/metrika@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.project__second {
  margin-bottom: 80px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(/resources/nothing-store@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.projects__link {
  box-sizing: border-box;
  display: block;
  padding-top: 56px;
  margin-bottom: 150px;
  width: 582px;
  height: 153px;
  background: #304ffe;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.03em;
  transition: all 0.3s ease;
}
.projects__link:hover {
  color: #304ffe;
  background: transparent;
  border: 1px solid #304ffe;
  transition: all 0.3s ease;
}
.competencies {
  letter-spacing: -0.03em;
}
.competencies__list {
  margin-bottom: 150px;
}
.competencies__title {
  margin-bottom: 104px;
  font-size: 55px;
  line-height: 72px;
}
.competence {
  position: relative;
  margin-bottom: 120px;
}
.competence:nth-last-child(1) {
  margin-bottom: 0px;
}
.competence:nth-child(1)::before {
  content: "";
  position: absolute;
  display: block;
  top: -70px;
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background: url(/resources/icon-html.svg), #304ffe;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.competence:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  top: -70px;
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background: url(/resources/icon-js.svg), #304ffe;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.competence:nth-child(3)::before {
  content: "";
  position: absolute;
  display: block;
  top: -70px;
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background: url(/resources/icon-framework.svg), #304ffe;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.competence:nth-child(4)::before {
  content: "";
  position: absolute;
  display: block;
  top: -70px;
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background: url(/resources/icon-react.svg), #304ffe;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.competence__name {
  display: block;
  font-size: 35px;
  line-height: 46px;
  color: #304ffe;
  margin-bottom: 15px;
}
.competence__text {
  font-size: 22px;
  line-height: 29px;
  max-width: 778px;
  margin-bottom: 120px;
}
.services {
  margin-bottom: 150px;
}
.services__title {
  margin-bottom: 75px;
  font-size: 35px;
  line-height: 46px;
  max-width: 403px;
  letter-spacing: -0.03em;
}
.service {
  margin-bottom: 75px;
}
.service__image {
  border-radius: 30px;
  width: 100%;
  min-height: 200px;
}
.image-first {
  background: url(/resources/service-1@2x.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-second {
  background: url(/resources/service-2@2x.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-third {
  background: url(/resources/service-3@2x.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.service__description {
  box-sizing: border-box;
  width: 100%;
  height: 283px;
  padding-left: 40px;
  padding-top: 40px;
  background: #191c19;
  border-radius: 30px;
}
.service__name {
  margin-bottom: 15px;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #304ffe;
}
.service__text {
  width: 749px;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
}
.contacts {
  position: relative;
  margin-bottom: 150px;
  min-height: 717px;
  border-radius: 30px;
  background: url(/resources/programmer@2x.png), #191c19;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.contacts__title {
  margin-bottom: 28px;
  position: absolute;
  top: 320px;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.socials {
  position: absolute;
  top: 408px;
  display: flex;
  flex-direction: column;
}
.social {
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-decoration: none;
}
.social a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.social a:hover {
  color: #304ffe;
  transition: all 0.3s ease;
}
.social:nth-last-child(1) {
  margin-bottom: 0px;
}
.footer__wrapper {
  box-sizing: border-box;
  padding-top: 76px;
  padding-bottom: 40px;
  border-radius: 30px 30px 0px 0px;
  background: white;
}
.footer__title {
  margin-bottom: 66px;
  color: black;
}
.rights {
  margin-bottom: 40px;
  color: black;
  opacity: 0.5;
}